/* @import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montaga', serif;
} */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montaga', serif;
    font-family: 'Baloo Tammudu 2', cursive;
}
.navbar-brand img{
    width:100px;
    height: auto;
  }
.wrp {
    position: relative;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
  }
.navbar{
    z-index: 1000;   
    justify-content: space-between;
}

.navbar{
    background-color:rgb(9, 9, 39);
   
}
.about h2{
    font-size: 25px;
    text-transform: uppercase;
    color:rgb(2, 2, 34);
    font-weight: bold;
}
.about{
    width: 95vw;
    background-color: rgb(240, 238, 238);
    box-shadow:0.8em 0.8em 1em rgba(13, 5, 37, 0.4);
}
.about h3{
    font-size: 20px;
    color:rgb(241, 109, 0);
    font-weight: 600;
}

.vision{
    background-color:rgb(2, 2, 34) ;
    color: white;
}
.vision h3{
    font-size: 25px;
    text-transform: uppercase;
    /* color:rgb(2, 2, 34); */
    /* font-weight: bold; */
    text-decoration-line: overline;
    color:rgb(241, 109, 0);
}
.key .text{
    font-size: 18px;
    color:rgb(2, 2, 34);
    text-align: center;
}
.key h1{
    font-size: 30px;
    text-transform: uppercase;
    color:rgb(2, 2, 34);
    font-weight: bold;
}
.about img{
    width: 300px;
    height: auto;
}
.about p{
    font-size: 15px;
    color:rgb(59, 58, 58);
}
.footer p{
    font-size: 12px;
    min-width:16vw;
}
.footer  li{list-style: none; justify-content: center; font-size: 12px;}
.footer{
    font-family: 'Akaya Telivigala', cursive;
    position: relative;
    background:url("img/footer.jpg");
    color:white;
    /* background-color:rgb(2, 2, 34); */
    font-size: 20px;
}
.footer a{
    color: white;
}
.footer a:hover{
    color:rgb(241, 109, 0);
}
.footer h6{
    text-align: center;
  }




@media(min-width:990px){
    .navbar-brand img{
        width:100px;
        height: auto;
      }
    .navbar{
        z-index: 1000;   
        justify-content: space-between;
        height: 80px;
        }
        .collapse{
            margin-left: 60vw;
        }
        .about h2{
            font-size: 40px;
            text-transform: uppercase;
            color:rgb(2, 2, 34);
            font-weight: bold;
        }
        .about{
            width: 95vw;
            background-color: rgb(240, 238, 238);
            box-shadow:0.8em 0.8em 1em rgba(13, 5, 37, 0.4);
        }
        .about h3{
            font-size: 25px;
            color:rgb(241, 109, 0);
            font-weight: 600;
        }
        
        .vision{
            background-color:rgb(2, 2, 34) ;
            color: white;
        }
        .vision h3{
            font-size: 35px;
            text-transform: uppercase;
            /* color:rgb(2, 2, 34); */
            /* font-weight: bold; */
            text-decoration-line: overline;
            color:rgb(241, 109, 0);
        }
        .key .text{
            font-size: 20px;
            color:rgb(2, 2, 34);
            
        }
        .key .text:hover{
            color:rgb(241, 109, 0);
        }
        
        .key h1{
            font-size: 40px;
            text-transform: uppercase;
            color:rgb(2, 2, 34);
            font-weight: bold;
        }
        .about img{
            width: 500px;
            height: auto;
        }
        .about p{
            font-size: 18px;
            color:rgb(59, 58, 58);
        }
        .footer p{
            font-size: 16px;
            min-width:16vw;
        }
        .footer  li{list-style: none; justify-content: center; font-size: 16px;}
        .footer{
            font-family: 'Akaya Telivigala', cursive;
            position: relative;
            background:url("img/footer.jpg");
            color:white;
            /* background-color:rgb(2, 2, 34); */
            font-size: 20px;
        }
        .footer a{
            color: white;
        }
        .footer a:hover{
            color:rgb(241, 109, 0);
        }
        /* .footer::before{
            content:"";
            background:;
            z-index: -1;
            position: absolute;
            top:0px;
            left:0px;
            height: 100%;
            width:100%;
            z-index: -1;
            opacity: 1;
        } */
}