*{
    box-sizing: border-box;
    margin:0;
    padding: 0;

}
#canvas-1{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(rgb(167, 163, 175) , rgb(206, 201, 212),white); */
    background: url(/img/wave\ \(1\).svg) no-repeat;
    background-position: bottom;
    z-index: -1;
}
.nav-bar .img-wrap{
    width:40vw;
}
.nav-bar .img-wrap img{
    width: 20vw;
    height: 9vh;
    margin-left:12px;
}
 .nav-bar{
     position: fixed;
    width:100vw;
    height: 10vh;
    background: transparent;
    color: rgb(139, 10, 10);
    display: flex;
    justify-content: space-between;
}
.nav-bar ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    width:60vw;
    padding-left: 15vw;
}
.nav-bar ul li{
    padding: 15px;
   
}
#home{
    padding-top:35vh;
    width:100vw;
    height:100vh;
}
#home .row{
    margin-left:12vw;
}
#home .row #text{
    padding-top:50px;
}
#home .row #text h1{
   color:#800000;
}

#home .row #code-bg{
    padding-left:5vw;
}
#code-bg .img-wrap{
    width:100%;
    /* box-shadow: 2px 1px 1px gainsboro; */
    /* margin-bottom: 400px; */
}
#code-bg .img-wrap img{
    width:500px;
    height: 300px;
    padding-bottom:150px;

}
#projects{
    width: 100vw;

}
#projects h1{
    padding-top: 2vh;
}
#projects .row{
    padding-top: 10vh;
    margin-left:12vw;
}
#nielit{
    width:100vw;
    height:100vh;
   background:maroon;
   clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 44%, 61% 100%, 30% 100%, 0 63%, 0 0);

   color:white
   
}
#nielit h1{
    text-align: center;
    padding-top: 12vh;
   
}
#nielit p{
   margin-top:5vh;
}
#nielit .img-wrap{
margin-left:30vw;
justify-content: center;
}
#nielit .img-wrap img{
    width:20px;
    height:30px;
}
#courses ul{
	list-style:none;
}
#courses a{
	text-decoration:none;
}
#courses .container{
	width:100%;
	height: 100vh;
	background-color:#a4152c;
	display:flex;
	justify-content: center;
	align-items: center;
	
}
#courses .box{
	width:350px;
	height:610px;
	background-color:#1e1e26;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 20px 10px;
}
#courses .model{
	height: 350px;
	max-height: 100%;
	max-width: 100%;
}
#courses .details{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}
#courses .details p{
	font-family: calibri;
	font-weight: bold;
	color:#6a6a74;
	text-align: center;
	margin-top: 20px;
}
#courses .marvel{
	color:#32323e;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: bebas kai;
	font-size: 25px;
}

#courses .box:hover{
	background-color: #17171d;
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}
#courses .box:hover .marvel{
	color:#c0292b;
	transition: all ease 0.5s;
}
/*--responsive for mobile phone--*/
@media(max-width:720px){
	.box{
		width: 94%;
		height: 500px;
	}
	.model{
		height:250px;
	}
	.details p{
		font-size: 16px;
		width: 250px;
	}
	
}