
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
.wrp{
    width: 100vw;
    height: auto;
    position: relative;
    font-family: 'Architects Daughter', cursive;
    overflow-x: hidden;
}
/* Header section */
#navbar  {
	position:fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: 80px;
  background-color:peachpuff;
  
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition:0.2s;
  }
.brand-title{
    color: black;
    /* text-transform: uppercase; */
    font-size: 20px;
    position: fixed;
}
.navbar-links{
    display: none;
   position: absolute;
   right: 0;
   top:0;
   background-color:peachpuff;
}
.navbar-links ul{
    /* display: flex; */
    margin-top:100px;
    text-align: center;
    /* right:-50%; */
    width:50vw;
   
    /* height: 100vh; */
   
}
.navbar-links ul li{
    list-style: none;
    margin: 50px;
    text-decoration: none;
   

}
.navbar-links ul li a{
    font-size: 15px;
   color: black;
 
}
.navbar-links.open{
    display:block;
            opacity: 1;
    transform: scale(1);
  }
.toggle-button {
    position: absolute;
    top: 25px;
    right: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 1000;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
 .home{
    width:100vw;
    height: auto;
    background-size: contain;
    
} 

.heading{
    color:rgb(245, 45, 78);
   z-index: 1;
   margin-top:-5%;
}
.heading h1{
    font-size: 35px;
   
    font-weight: 900;
}
.info{
   font-size:12px;
    width:90vw;
    height: auto;
    text-align:center;
}
.info p{
  max-width: 70vw;
  text-align:left;
}

.gallery .row {
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 4px; */
  }
  
  /* Create four equal columns that sits next to each other */
 .gallery .column {
    flex: 100%;
    max-width: 100%;
  }
  
  .gallery  img {
    margin-top: 8px;
        vertical-align: middle;
        width: 100%;
        /* filter: grayscale(1) brightness(0.5); */
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s linear;
   
  }
  /* .gallery .column img:hover {
    filter: grayscale(0);
  } */
 

#brands h2{
   
    color: rgb(245, 45, 78);
    font-size: 18px;
}

#contact h1{
    font-size: 15px;
 
    color:black;
}
#contact h2{
    
    color: rgb(245, 45, 78);
    font-size: 16px;
}
#contact h6{
    font-size: 12px;
}
#brands h2{
  text-transform: uppercase;
    color: rgb(245, 45, 78);
    font-size: 12px;
}
.about h2{
    text-transform: uppercase;
    color: rgb(245, 45, 78);
    font-size: 12px;
}

.swiper-container {
    /* width: 100%; */
   /* height: 80vh; */
   width: 100%;
    padding-top: 50px;
    padding-bottom: 200px;
  }

  .swiper-slide {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 100%;
    min-height:30vh;
    /* justify-content: center; */
    /* margin: 5px; */
    /* padding:1px; */
    /* background-color: white; */
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);

  }
  .whatsapp img{
    position:fixed;
    bottom:50px;
    right: 30px;
    /* float: right; */
}
.contact h1{
    font-size: 30px;
    /* color:rgb(214, 147, 81);
     */
     font-weight:650;
     /* text-decoration-line: underline; */
     text-transform: uppercase;
     color:black;
}
.contact h2{
    font-size: 20px;
    text-align: center;
    /* color:rgb(240, 190, 146); */
    font-weight: bold;
    color: rgb(245, 45, 78);
}
.contact .img-wrap{
    width: 100%;
}
.contact img{
    width: auto;
    height:45px;
}
.footer{
    background-color: black;
    color:white;
    height: auto;
}
.footer .card{
    max-width:5vw;
    background-color: transparent;
}
.footer h5{
    font-size: 12px;
}
.footer .insta{
    height:30px;
    width: auto;
}
.footer .fab{
    height: 30px;
    width: auto;
}
@media(min-width:990px){
    
    #navbar  {
        position:fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 60px;
        justify-content: space-between;
        background-color:peachpuff;
        /* font-family: 'Redressed', cursive; */
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        transition:0.2s;
      }
    .brand-title{
        color:black;
        text-transform: uppercase;
        font-size: 20px;
    }
    .navbar-links{
        /* display: inline-block; */
              
        display: block;
        margin-left:60%;
        position: relative;
        background-color: transparent;
    }
    .navbar-links ul{
        display: flex;
        margin:4px;
        /* background-color: transparent; */
       
    }
    .navbar-links ul li{
        list-style: none;
        margin: 10px;
        text-decoration: none;
    
    }
    .navbar-links ul li a{
        font-size: 16px;
        color:black;
    }
    .toggle-button {
        position: absolute;
        top: .75rem;
        right: 1rem;
        display:none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        z-index: 1000;
    }
    
    .toggle-button .bar {
        height: 3px;
        width: 100%;
        background-color: peachpuff;
        border-radius: 10px;
    }
   .home{
        width:100vw;
        height: auto;
        background-size: contain;
        
    }
   
    .heading{
        color:rgb(245, 45, 78);
       z-index: 1;
       margin-top:-3%;
    }
    .heading h1{
        font-size: 70px;
        
        font-weight: 900;
    }
    .info{
       font-size:20px;
        width:90vw;
        height: auto;
        text-align: center;
        /* font-family: 'Redressed', cursive; */
    }
    .info p{
      max-width: 70vw;
    }
    .gallery{
        display: flex;
        justify-content:center;
    }
    .gallery .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
      }
      
      /* Create four equal columns that sits next to each other */
     .gallery .column {
        flex: 20%;
        max-width: 33.3%;
        padding: 0 4px;
       
      }
      
      .gallery .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
        filter: grayscale(1) brightness(0.5);
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s linear;
      }
      .gallery .column img:hover {
        filter: grayscale(0);
      }
     
    .swiper-container {
        /* width: 100%; */
        max-width: 100%;
        min-height: 80vh;
        padding-top: 50px;
        padding-bottom: 600px;
      }
    
      .swiper-slide {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size:contain;
        min-width: 85vw;
        min-height: 50vh;
        padding:5px;
        background-color:transparent;
        -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,rgba(5, 5, 5, 0.4));
    
      }
  
    #brands h2{
    
        color:rgb(245, 45, 78);
        font-size: 25px;
        font-weight: bold;
    }
    .about h2{
        
        color: rgb(245, 45, 78);
        font-size: 25px;
        font-weight: bold;
    }
    .whatsapp img{
        position:fixed;
        bottom:50px;
        right: 50px;
        /* float: right; */
    }
    #contact h1{
        font-size: 40px;
        font-weight: 650;
        color:black;
    }
    #contact h2{
        
        color: rgb(245, 45, 78);
        font-weight: bold;
    }
    #contact h6{
        font-size: 18px;
    }
    .contact .img-wrap{
        width: 100%;
       
    }
    .footer{
        background-color: black;
        color:white;
        height: auto;
    }
    .footer .card{
        max-width:5vw;
        background-color: transparent;
    }
    .footer .insta{
        height:40px;
        width: auto;
    }
    .footer .fab{
        height: 40px;
        width: auto;
    }
}