* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Share Tech Mono', monospace; */
}
.wrp {
  overflow-x: hidden;
}
.navbar {
  font-family: "Share Tech Mono", monospace;
}
@import url("https://fonts.googleapis.com/css?family=Anton|Open+Sans:300,400,600,700");
html,
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 24px;
  font-size: 16px;
}

h2 {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
}

button {
  cursor: pointer;
  background: #044fa0;
  border: 0;
  padding: 7px 40px;
  color: #fff;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 20px;
  transition: all 0.5s ease-in-out;
}
button:hover {
  background: #fff;
  color: #212121;
}

.cards {
  background: #212121;
  /* height: auto; */
}
.cards:hover .card-single {
  opacity: 0.15;
}

.cards .card-single {
  background: #212121;
  transition: opacity 0.5s ease-in-out;
}
.cards .card-single:hover {
  opacity: 1;
}

.card-content {
  height: 550px;
  padding: 40px;
  color: #fff;
  /* background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/319606/stripe-pattern.png"); */
}
.card-content h2 {
  color: #4899f5;
  margin-bottom: 20px;
}

.card-text {
  max-width: 600px;
}

.card-height {
  height: 100%;
}

.card-img {
  padding: 0;
}
.card-img .carousel-item {
  height: 550px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.footer {
  background: linear-gradient(90deg, #4899f5 0%, #007bff 40%, #044fa0 100%);
  color: white;
}
.links li {
  list-style: none;
}
.links li a {
  color: white;
  text-decoration: none;
}
@media (min-width: 676px) {
  .navbar {
    z-index: 1000;
    justify-content: space-between;
    height: 60px;
    width: 100vw;
    /* font-weight: bold; */
    font-family: "Share Tech Mono", monospace;
  }
  .collapse {
    margin-left: 55%;
  }
  @import url("https://fonts.googleapis.com/css?family=Anton|Open+Sans:300,400,600,700");
  html,
  body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 24px;
    font-size: 16px;
  }

  h2 {
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
  }

  button {
    cursor: pointer;
    background: #044fa0;
    border: 0;
    padding: 7px 40px;
    color: #fff;
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
  }
  button:hover {
    background: #fff;
    color: #212121;
  }

  .cards {
    background: #212121;
  }
  .cards:hover .card-single {
    opacity: 0.15;
  }

  .cards .card-single {
    background: #212121;
    transition: opacity 0.5s ease-in-out;
  }
  .cards .card-single:hover {
    opacity: 1;
  }

  .card-content {
    /* height: 550px; */
    padding: 30px;
    color: #fff;
    background-color: rgb(29, 29, 29);
  }
  .card-content h2 {
    color: #4899f5;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
  }

  .card-text {
    max-width: 600px;
  }

  /* .card-height {
    height: 100%;
  } */

  .card-img {
    padding: 0;
  }
  .card-img .carousel-item {
    height: 550px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
  .footer {
    background: linear-gradient(90deg, #4899f5 0%, #007bff 40%, #044fa0 100%);
    color: white;
  }
  .links li {
    list-style: none;
  }
  .links li a {
    color: white;
    text-decoration: none;
  }
}
